body{ background-color: bisque;}

h2 {
   text-align: center;
   color: rgb(224, 148, 224);
   
}

h3 { 
    text-align: center;
    border: solid rgb(27, 26, 26) 3px ;
    color :rgb(158, 62, 158);
    background-color: rgb(255, 217, 223);
     
}
p{
    background-color: brown;
    color: white;
}

ol li a:hover {
    color : green ;
}
 
ol li a:visited {
     color : blue ;
}

ol li a:active {
    color : yellow ;
}